In [1]:
import requests
from bs4 import BeautifulSoup  
import pandas as pd

In [2]:
import tabula

In [6]:
tabula.read_pdf('../data/2020_IC3Report-16.pdf', pages='all')

,Unnamed: 0,Victims,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,ge Range7,NaN,NaN,Total Count,NaN,NaN,Total Los,NaN

In [7]:
import PyPDF2

In [8]:
pdfFileObj = open('../data/2020_IC3Report-16.pdf', 'rb')

In [9]:
pdfReader = PyPDF2.PdfFileReader(pdfFileObj)

In [11]:
pageObj = pdfReader.getPage(0)

In [15]:
text=pageObj.extractText()
print(text)

16


20
20

VICTIMS BY
AGE GROUP

Victims

Age

Range
7

Total Count

Total Loss

Under 20

23,186

$
70,980,763

20
-

29

70,791

$
197,402,240

30
-

39

88,364

$
492,176,845

40
-

49

91,568

$
717,161,726

50
-

59

85,967

$
847,948,101

Over 60

105,301

$
966,062,236

























7

Not all complaints include an associated age range

those without this information are excluded f
rom this
table. Please see Appendix B for more information regarding IC3 data.

In [16]:
text.split('\n')

[' ',
 '16',
 ' ',
 '   ',
 '20',
 '20',
 ' ',
 'VICTIMS BY ',
 'AGE GROUP',
 ' ',
 'Victims',
 ' ',
 'Age',
 ' ',
 'Range',
 '7',
 ' ',
 'Total Count',
 ' ',
 'Total Loss',
 ' ',
 'Under 20',
 ' ',
 '23,186',
 ' ',
 '$',
 '70,980,763',
 ' ',
 '20 ',
 '-',
 ' ',
 '29',
 ' ',
 '70,791',
 ' ',
 '$',
 '197,402,240',
 ' ',
 '30 ',
 '-',
 ' ',
 '39',
 ' ',
 '88,364',
 ' ',
 '$',
 '492,176,845',
 ' ',
 '40 ',
 '-',
 ' ',
 '49',
 ' ',
 '91,568',
 ' ',
 '$',
 '717,161,726',
 ' ',
 '50 ',
 '-',
 ' ',
 '59',
 ' ',
 '85,967',
 ' ',
 '$',
 '847,948,101',
 ' ',
 'Over 60',
 ' ',
 '105,301',
 ' ',
 '$',
 '966,062,236',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '7',
 ' ',
 'Not all complaints include an associated age range',
 '',
 'those without this information are excluded f',
 'rom this ',
 'table. Please see Appendix B for more information regarding IC3 data. ',
 ' ',
 ' ',
 '']